footer {
    color: white;
    background-color: #222222;
    padding: 50px 0;

    .logo {
        display: block;
        height: 50px;
    }

    p {
        line-height: 25px;
        margin: 0;
    }

    .links {
        position: relative;
        left: -10px;
    }
}